<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} - mevanl.dev {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <nav>
            <strong><a href="/">mevanl.dev</a></strong> | 
            <a href="/blog">Blog</a> |
            <a href="/devlog">Devlog</a> |
            <a href="https://www.github.com/mevanl" target="_blank">GitHub</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        mevanl.dev - Built with Python + FastAPI
    </footer>

</body>
</html>