{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h3>This website is under construction!</h3>



<h1>About me</h1>
I'm a 22-year-old Software Developer who loves working on systems and low-level software. I enjoy diving into the details, optimizing user experiences and performance, and building solutions that are precise to the needs and efficient. I work with a large range of tools, but specialize in C/C++/Zig and Python (Backend, AI, tool scripting). 

When I'm not immersed in code or learning, you can find me reading and researching history, experimenting in the kitchen, reading light/visual novels, or playing grand strategy games with my friends. 

<h1>Skills</h1>

<h3>Languages</h3>
C/C++/Zig, Python, Go, JavaScript, C#
<h3>Practices</h3>
Git, Agile, System, Architecture
<h1>Projects</h1>

<h1>Work Experience</h1>

{% endblock %}