{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <div style="text-align: center;">
        <h1 style="margin-bottom: 0;">Mason Evan Lauderdale</h1>
        <h3 style="margin-top: 0; margin-bottom: 1;">Cookeville, TN, USA</h3>
        <a href="https://www.linkedin.com/in/mevanl" target="_blank">LinkedIn</a>
        <!-- we should add a resume download link here too -->
    </div>


    <h1>About me</h1>
    I'm a 22-year-old Software Developer who loves working on systems and low-level software. I enjoy diving into the details, optimizing user experiences and performance, and building solutions that are precise to the needs and efficient. I work with a large range of tools, but specialize in C/C++/Zig and Python (Backend, AI, tool scripting). 

    When I'm not immersed in code or learning, you can find me reading and researching history, experimenting in the kitchen, reading web/light/visual novels, playing grand strategy games with my friends, or building computers. 

    <h1>Skills</h1>
    <h3>Languages</h3>
    C/C++/Zig, Python, Go, C#, JavaScript
    <h3>Practices</h3>
    Version Control (Git), Agile Development, Systems Programming, Software Architecture
    <h3>Additional</h3>
    SQL [SQLite, PostgreSQL], Containerization [Docker], Linux, Web [HTML/CSS, NodeJS, Express, React], AI [Tensorflow, CNN, Image Classification]


    <h1>Projects</h1>

    <h3>Image Generation & Training</h3>
    <strong>ARCS Aviation - Aviation Resources and Consulting Services</strong>
    <p><b>Skills:</b> Python, C#, Unity</p> 
    <p><b>Overview:</b> Using the Unity Engine, generated synthethic data of polyhedral dice mimicing real world conditions in order to train a convolutional neural network that was then integrated into a executable application that uses a webcam to classify real polyhedral dice in real time.</p>
    <p><b>What I learned:</b> Image classification using a CNN, using the Unity Engine to manipulate environments and photo-realistic scences to generate synthethic data, data cleaning, AI automation</p>
    <p><b>Link:</b> [NDA]</p>

    <h3>Chip-8 Emulator</h3>
    <strong>Personal Project</strong>
    <p><b>Skills:</b> Zig, C, C++</p>
    <p><b>Overview:</b> Fully implemented/emulated the Chip-8 spec in order to run chip-8 programs. This includes opcode interpretation, memory/ram management, manual display rendering, and custom clock cycle for various emulation speeds.</p>
    <p><b>Link:</b> <a href="https://www.github.com/mevanl/chip8">here.</a></p>


    <h1>Work Experience</h1>
    Note: I have recently graduated from university, so I do not have direct industry work experience. 

    <h3>Kentucky Fried Chicken</h3>
    <strong>May 2021 - Present</strong>
    <p>Kitchen Manager & Lead Cook</p>
    <p>
        <ul>
            <li>
                Trained and managed a team of 10 cooks, maintaining consistent quality and performance standards, fostering a collaborative team environment, and efficiently dividing tasks.
            </li>
            <li>
                Analyzed and optimized inventory management by leveraging data-driven insights that reduced waste while maintaining cost efficiency. 
            </li>
            <li>
                Implemented time-saving strategies on operational procedures to improve efficiency during highpressure situations.
            </li>
        </ul>
    </p>
    <p><b>Hard Skills:</b> data collection and management, data analysis, process optimization</p>
    <p><b>Soft Skills:</b> leadership, time management, conflict resolution</p>

    <h3>Tennessee Technological University</h3>
    <strong>August 2021 - May 2025</strong>
    <p>Technology Support Representative</p>
    <p>
        <ul>
            <li>
                Resolved complex software, hardware, and networking issues from faculty, staff, and students with over a 90% first-call resolution rate. 
            </li>
            <li>
                Created and maintained technical documentation and troubleshooting guides to assist team members.
            </li>
        </ul>
    </p>
    <p><b>Hard Skills:</b> troubleshooting, operating systems, networking </p>
    <p><b>Soft Skills:</b> conflict resolution, problem-solving</p>

    <h1>About this website</h1>
    This website is meant to be a portfolio of my work and to host writing that I do for fun. The website is intentionally created to look and be simple, which aligns with some of my core values as a software developer (Unix philosophy, 'suckless' philosophy, KISS principle).

{% endblock %}