{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <div style="text-align: center;">
        <h1 style="margin-bottom: 0;">Mason Evan Lauderdale</h1>
        <h3 style="margin-top: 0; margin-bottom: 1;">Cookeville, TN, USA</h3>
        <a href="https://www.linkedin.com/in/mevanl" target="_blank">LinkedIn</a>
        <!-- we should add a github link here too -->
    </div>


    <h1>About me</h1>
    I'm a 22-year-old Software Developer who loves working on systems and low-level software. I enjoy diving into the details, optimizing user experiences and performance, and building solutions that are precise to the needs and efficient. I work with a large range of tools, but specialize in C/C++/Zig and Python (Backend, AI, tool scripting). 

    When I'm not immersed in code or learning, you can find me reading and researching history, experimenting in the kitchen, reading web/light/visual novels, playing grand strategy games with my friends, or building computers. 

    <h1>Skills</h1>
    <h3>Languages</h3>
    C/C++/Zig, Python, Go, C#, JavaScript
    <h3>Practices</h3>
    Version Control (Git), Agile Development, Systems Programming, Software Architecture
    <h3>Additional</h3>
    SQL [SQLite, PostgreSQL], Containerization [Docker], Linux, Web [HTML/CSS, NodeJS, Express, React]


    <h1>Projects</h1>
    Under Construction!

    <h1>Work Experience</h1>
    Under Construction!

    <h1>About this website</h1>
    This website is meant to be a portfolio of my work and to host writing that I do for fun. The website is intentionally created to look and be simple, which aligns with some of my core values as a software developer (Unix philosophy, 'suckless' philosophy, KISS principle).

{% endblock %}